header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(248, 6, 6);
    border-top: 1px solid rgb(247, 5, 5);
}
li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
   }
   a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(233, 14, 233);
    font-weight: 800;
   }
   a:hover{
    color: rgb(35, 14, 226);
   }
   .check{
    padding-bottom: 50px;
    
    font-size: 10px;
    color: rgb(252, 37, 252);
   }
   
   .contenedor{
    width: 50%;
    height: 60%;
    padding: 20px 20px 20px 20px;
    margin: 20PX 20PX 20PX 60PX;
    background-color: rgb(245, 242, 248);
    border-radius: 20px;

   }

   #formulario{
    background-color: rgb(245, 242, 248);
    width: 100%;
    padding: 30px 30px 40px 30px;
    border-radius: 40px;
   }


   form label{
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    padding-top: 20px;
    font-weight: 550;
    letter-spacing: 2px;
    color: rgb(129, 70, 79);
 }

 form input{
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 10px;
    height: 30px;
    width: 50%;
 }

 
 #inputmes{
    width: 10%;
 }

 #inputano{
    width: 10%;
 }

 .label{
   font-size: 17px;
   margin-bottom: 10px;
 }
 
 .input{
   font-size: 15px;
 }
 .btn{
    background-color: rgb(158, 67, 243);
    color: white;
    border-radius: 50px;
    width: 30%;
    border: 2px solid rgb(100, 33, 167);
    margin-top: 25px;
    margin-left: 36%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
       }

       .confirmar{
        display: flex;
        justify-content: center;
        background-color: rgb(158, 67, 243);
        padding: 10px 25px;
        color: white;
        border-radius: 50px;
        border: 2px solid rgb(100, 33, 167);
        margin-top: 50px;
        text-align: center;
        cursor: pointer;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
     }

    
     .btn:hover{
        color: black;
        transition: 0.5s;
   }

   .cvc{
    width: 15%;
   }

   .disabled {
    display: none;
   }
/* no se que hace*/
   #gracias{
    width: 500px;
    height: 500px;
    padding: 80px 60px 20px 60px;
    margin: auto;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
 }
 .final{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center; 
 }

 .fin{
     
    text-align: center;
  }
  .texto-final{
   text-align: center;
  }





  



 


